#routes {
  display: flex;
  flex-flow: row wrap;
  gap: 10px;

  button {
    padding: 10px;
    border-radius: 20px;

    // active nav button underline
    &.active span:after {
      display: block;
      position: absolute;
      height: 1px;
      width: 100%;

      content: "";
      background-color: black;
    }
  }
}
