$cyan-palette: (
  50: #e1f8f9,
  100: #b3eef1,
  200: #82e3e9,
  300: #50d6e0,
  400: #29cdda,
  500: #00c4d6,
  600: #00b4c3,
  700: #029ea9,
  800: #038a91,
  900: #036666,

  contrast: (
    50: rgba(black, 0.9),
    100: rgba(black, 0.9),
    200: rgba(black, 0.9),
    300: rgba(black, 0.9),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$red-palette: (
  50: #fae8e9,
  100: #b3eef1,
  200: #82e3e9,
  300: #50d6e0,
  400: #29cdda,
  500: #00c4d6,
  600: #00b4c3,
  700: #029ea9,
  800: #038a91,
  900: #036666,

  contrast: (
    50: rgba(black, 0.9),
    100: rgba(black, 0.9),
    200: rgba(black, 0.9),
    300: rgba(black, 0.9),
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
)
